body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* banner styles*/


.banner {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 80%;
    height: 70vh;
    background-color: #161616;
    display: flex;
    border-radius: 15px;
}

.card-info {
    width: 50%;
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.card-title {
    text-align: center;
}

.card-title>h2 {
    font-weight: 700;
    font-size: 40px;
}

.card-span {
    color: #e617be;
}

.card-title>P {
    font-weight: 200;

}



.watch {
    text-align: center;

}

.button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#e6230e, #e35b7f);
    padding: 8px 16px;
    border-radius: 20px;
}

.card-image {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 90%;
    height: 100%;
    object-fit: fill;
    object-position: right;


}

/* main styles start */
/* options styles */

main {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 90%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    gap: 30px;
}

.options {
    width: 25%;
    height: 45%;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;

}

.match-button {
    width: 200px;
    height: 64px;
    border: 1px solid;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 600;
}


.group-button {
    width: 200px;
    height: 64px;
    border: 1px solid;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 600;

}

.blog-button {
    width: 200px;
    height: 64px;
    border: 1px solid;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 600;
    background-image: linear-gradient(#cc0808, #302f2f);
}

/* Blog styles */

.blogs {
    width: 75%;
    height: 100%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 10px;
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0 7px 7px grey;
}

.blog img {
    width: 100%;
}

.transfer-info {
    padding-left: 15px;
}


.icons {
    display: flex;
    gap: 30px;
    padding-left: 15px;

}

.first-icon {
    display: flex;
    gap: 10px;
}

.second-icon {
    display: flex;
    gap: 10px;
}

.fa-clock {
    margin-top: 4px;
}

.fa-comment-dots {
    margin-top: 4px;
}

/* main styles end */